.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: left;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

.List-container {
  margin: 10px;
  padding: 10px;
  background-color: rgb(200,200,200);
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto)
}

.List-card {
  margin: 5px;
  height: 100px;
  width: 300px;
  background-color: rgb(102,102,102);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
